<header>
  <div class="pt-3 text-center bg-primary opacity-100" style="margin-top: 0px;">
  <h1 class="mb-1 text-light">Home</h1>
  <nav class="text-left">
    <a class="w-5 btn mt-2 mb-2 ml-2 btn-med btn-warning updateSubmit" href="/login"> Login </a>
    <button class="logOut w-5 btn mt-2 mb-2 ml-2 btn-med btn-warning" type="submit" id="logOut">Logout</button>
  </nav>
  </div>
</header>

<section class="container">
  <div class="flex-row overflow-auto list">
    {{#each allPosts as |post|}}
    {{> post-details}}
    {{/each}}
  </div>
</section>

<!-- Javascript file for front end functionality -->
<script src="/js/post.js"></script>
<script src="/js/logout.js"></script>