{{!-- Logo for Tech Blog --}}
<header>
  <div class="pt-5 pb-3 text-center bg-primary opacity-100" style="margin-top: 0px;">
  <img class="mb-4 align-items-center" src="../public/images/logo.png" alt="" width="150" height="150">
  <h1 class="mb-1 text-light">The Tech Blog </h1>
  </div>
</header>

{{!-- Log-in container --}}
<main class="container border log-in mt-3 w-25 border-info rounded ">
  <form class="login-form">
    <h1 class="h3 mb-3 mt-3 fw-normal">User Log-In</h1>

    <div class="form-floating mb-1">
      <input type="email" class="form-control" id="userEmail" placeholder="Enter your email">
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="userPassword" placeholder="Password">
    </div>

    <button class="w-75 btn mt-2 mb-2 btn-med btn-primary" id="loginBtn" type="submit">Sign in</button>

    <a class="w-755 btn mt-2 mb-2 btn-med btn-primary" id="registerBtn" href="/login/register">New? Sign Up</a>

  </form>
</main>

<div class="h5 mb-3 mt-3">The Tech Blog LLC</div>
  
<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- javascript file-->
<script src="/js/login.js"></script>