{{!-- Logo for Tech Blog --}}
<header>
  <div class="pt-5 pb-3 text-center bg-primary opacity-100" style="margin-top: 0px;">
  <h1 class="mb-1 text-light">The Tech Blog </h1>
  </div>
</header>

{{!-- Log-in container --}}
<main class="container border register mt-3 w-25 border-info rounded ">
  <form class="register-form">
    <h1 class="h3 mb-3 mt-3 fw-normal">Register New Account</h1>

    <div class="form-floating mb-1">
      <input type="username" class="form-control" id="newUsername" placeholder="Username">
    </div>

    <div class="form-floating mb-1">
      <input type="email" class="form-control" id="newEmail" placeholder="Email"> 
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="newPassword" placeholder="Password">
    </div>

    <button class="w-75 btn mt-2 mb-2 btn-med btn-primary" id="registerBtn" type="submit">Register</button>
  </form>
</main>

<div class="h5 mb-3 mt-3">The Tech Blog LLC</div>

<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- javascript file-->
<script src="/js/login.js"></script>